
<mat-tab-group class="mat-tab-group" mat-align-tabs="start">
  <mat-tab label="Транспортный цех ">
        <mat-card class="mat-card-main">
          <mat-card-content class="card">
            За смену поступило: 
              <input class="input-long-2" type="text" >
              &sum;. <input class="input-midle" type="text" > ед.
            <br>
            За смену отгружено: 
            
              <input  class="input-long-2" type="text" >
              &sum;. <input class="input-midle" type="text" > ед.
            <br>
            За смену МП: 
              <input  class="input-long-1" type="text" >
            <br>
            <mat-card class="mat-card-main">
              <mat-card-header>
                груженые на р/д <input class="input-midle" type="text" > ед. COK, <input class="input-midle" type="text" > ед. дросс.
              </mat-card-header>
            <mat-card-subtitle id="gruz" >Грузы:</mat-card-subtitle>
              <mat-card-content class="cargo">
                <mat-card-content class="card-li">
                  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);
                  <br>
                  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);
                  <br>
                  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);
                  <br>
                  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);  <input class="input-midle" type="text" >П/в<input class="input-midle" type="text" >(<input class="input-midle" type="text" >);
                </mat-card-content>
                <mat-card-content class="card">
                  &sum;.<input class="input-midle" type="text" > ед.
                </mat-card-content>
              </mat-card-content>
            </mat-card>
            <br>
            <em>Всего подвижгого состава:</em><input class="input-midle" type="text" > ед.(<input class="input-midle" type="text" > в, <input class="input-midle" type="text" > ц, <input class="input-midle" type="text" > пл.).
            <br>
            Под Zn вагонов:<input class="input-midle" type="text" > + груженые:<input  class="input-long-2" type="text" >
            <br>
            Под погрузку п/в:<input class="input-midle" type="text" > + груженые:<input  class="input-long-2" type="text" >
            <br>
            Под H<sub>2</sub>SO<sub>4</sub>:<input class="input-midle" type="text" > ц+<input class="input-midle" type="text"> пл.т/к + налитые:<input class="input-midle" type="text" > ц(II сорт).
            <br>
            Подход:<input class="input-midle" type="text"> ед. на ст."Электростанция (в т.ч.<input class="input-midle" type="text"> ц + <input class="input-midle" type="text"> пл. т/к)". Сумм.<input class="input-midle" type="text"> ед.
            <br>
            Примечания мастера:<input  class="input-long-1" type="text" >
            <br>
            Примечания диспетчера:<input  class="input-long-1" type="text" >
          </mat-card-content>
        </mat-card>
  </mat-tab>
  <mat-tab label="Цех КЭЦ.">
    <mat-card class="mat-card-main">
      <mat-card-subtitle class="subtitle-default">Электролиз:</mat-card-subtitle>
      <mat-card-content class="card">
        нагрузка: с 19<sup>00</sup>-<input class="input-small" type="text">(<input class="input-small" type="text">-<input class="input-small" type="text">)кА; с <input class="input-small" type="text">-<input class="input-small" type="text">(<input class="input-small" type="text">-<input class="input-small" type="text">)кА.
        <br>
        (t<sup>о/э</sup><sub>крит</sub> 39,0<sup>o</sup>C; t<sub>возд.</sub><sup>proscon</sup> <input class="input-small" type="text">-<input class="input-small" type="text"> <sup>o</sup>C).
        <br>
        t<sup>o</sup>C<sup>о/э</sup><sub>факт</sub> (max) на выходные по рядам A/B/C/D:<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text"> <sup>o</sup>C//<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text"> <sup>o</sup>C;
        <br>
        о/э (min-max) Zn (H<sub>2</sub>SO<sub>4</sub>): 
        <br>
        I серия:<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л (<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л)//<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л (<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л);
        <br>
        II серия:<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л (<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л)//<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л (<input class="input-small" type="text"> &divide; <input class="input-small" type="text"> Г/Л).
        <br>
        По циркуляции<input class="input-midle" type="text">, по качеству Zn<sup>кат</sup><input class="input-midle" type="text">("Sb"~<input class="input-midle" type="text"> мл/подъём; катодов на
        растворение за сдирку <input class="input-midle" type="text">).Атмосфера <input class="input-midle" type="text">.Ванны <input class="input-midle" type="text">.
        <label class="label-midle" type="text">
          <mat-select class="select-midle"  [(ngModel)]="selectedProc" >
            <mat-option *ngFor="let o of options" [value]="o" (click)="checkSelect(o)">
              {{o}}
            </mat-option>
          </mat-select>
        </label>
        <select id="select-1" name="select"  [(ngModel)]="selectedProc"> 
          <option *ngFor="let o of options" [value]="o" (click)="checkSelect(o)">
            {{o}}
          </option>
        </select>
        <ng-container *ngIf="sel.end"> сдирку <input class="input-midle" type="text"> серии в <input class="input-midle" type="text">&rArr; &sum; время сдирки <input class="input-midle" type="text">-(V<sub>ср</sub>~<input class="input-midle" type="text">п/ч), вес <input class="input-midle" type="text">т.(<input class="input-midle" type="text">ст.).</ng-container> 
        <ng-container *ngIf="sel.continue"> сдирку <input class="input-midle" type="text"> серии в <input class="input-midle" type="text">(~<input class="input-midle" type="text">п/ч), осталось сдирать <input class="input-midle" type="text">%. </ng-container> 
        <ng-container *ngIf="sel.start"> сдирку <input class="input-midle" type="text"> серии в <input class="input-midle" type="text">(~<input class="input-midle" type="text">п/ч), осталось сдирать <input class="input-midle" type="text">%.</ng-container>
        Анодный кран <input class="input-midle" type="text">, машина <input class="input-midle" type="text">. Почистил: Ванны <input class="input-midle" type="text">
        /<input class="input-midle" type="text">; анодов <input class="input-midle" type="text">/<input class="input-midle" type="text"> на машине. Mn шлама <input class="input-midle" type="text">/<input class="input-midle" type="text"> м<sup>3</sup>.
        <br>
        "К/з":обнаружено <input class="input-small" type="text">; устранено <input class="input-small" type="text"> <input class="input-small" type="text">; осталось <input class="input-small" type="text">.
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
      <mat-card-subtitle class="subtitle-default">Плавильное отд.:</mat-card-subtitle>
      <mat-card-content class="card">
        <b>наплавлено</b> см.№3 (сутки):<input class="input-midle" type="text">(<input class="input-midle" type="text">)т.;см.№1:<input class="input-midle" type="text">т.
        <br>
        F801-<input class="input-midle-check" type="number" (keyDown)="hundredPercent()" ([ngModel])="deposite.F801">; F802-<input class="input-midle-check" type="number" (keyDown)="hundredPercent()" ([ngModel])="deposite.F802">;F803-<input class="input-midle-check" type="number" (keyDown)="hundredPercent()" ([ngModel])="deposite.F803">;F805-<input class="input-midle-check" type="number" (keyDown)="hundredPercent()" ([ngModel])="deposite.F805">.
        <br>
        распылительная:<input  class="input-long-1" type="text" >.
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
      <mat-card-subtitle class="subtitle-default">ГМО:</mat-card-subtitle>
      <mat-card-content class="card">
        поток <input class="input-midle" type="text"> м<sup>3</sup>/ч. По качеству BCC-6 <input class="input-midle" type="text">. Фильтрация на I/II стадии <input class="input-midle" type="text">/<input class="input-midle" type="text"> ф/п.
      По качеству очистки <input class="input-midle" type="text">. В работе:<input class="input-midle" type="text">. TK702C/D <input class="input-midle" type="text">. Реактора в
      работе: ТК501<input class="input-midle" type="text">, ТК502<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text">/<input class="input-small" type="text">(<input class="input-midle" type="text">). В работе Е501<input class="input-midle" type="text">. Гипс <input class="input-midle" type="text"> м<sup>3</sup>. Б/м <input class="input-midle" type="text">.
    </mat-card-content>
    <mat-card-subtitle class="subtitle-default">Cd отделение:</mat-card-subtitle>
      <mat-card-content class="card">
        нагрузка 9,6 (<input class="input-small" type="text">-<input class="input-small" type="text">-<input class="input-small" type="text">) кА, <input class="input-midle" type="text">.
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Обжиговый цех">
    <mat-card class="mat-card-main">
      <mat-card-content class="card">
        <b>Загружено:</b> см. №3(сут):<input class="input-midle" type="text">(<input class="input-midle" type="text">т.); см. №1:<input class="input-midle" type="text"> т.
        <br>
        В работе печи КС-<input class="input-midle" type="text"> (через <input class="input-midle" type="text">; КС-<input class="input-midle" type="text"> на своем О<sub>2</sub>), КС-<input class="input-midle" type="text"> на О<sub>2</sub> "Мечел").
        Печи управляются <input class="input-midle" type="text">, режимы <input class="input-midle" type="text">. Сделали по две донные выгрузки,  огарок
        нормальный. Шихта:<input class="input-midle" type="text"> % <input class="input-midle" type="text">, : <input class="input-midle" type="text"> % <input class="input-midle" type="text">, :<input class="input-midle" type="text"> % <input class="input-midle" type="text">, : <input class="input-midle" type="text">%
        <input class="input-midle" type="text">, <input class="input-midle" type="text">% <input class="input-midle" type="text">, +<input class="input-midle" type="text">. На газоочистке в работе секции №<input class="input-midle" type="text">. Разрежение в 
        "чистом" коллекторе <input class="input-midle" type="text"> &divide; <input class="input-midle" type="text"> мм. Насосы исправны, циркуляция в норме (песков <input class="input-midle" type="text">, пены <input class="input-midle" type="text">/песков <input class="input-midle" type="text">, пены <input class="input-midle" type="text">). 
        По складу <input class="input-midle" type="text"> (<input class="input-midle" type="text"> крановщика). Выгрузка: (см №3):
        <input class="input-midle" type="text">; (см №1):<input class="input-midle" type="text">. 
        <br>
        Примечания мастера:<input title="nm"   [(ngModel)]="masterNote"  class="input-long-1" type="text" ><label >{{masterNote}}</label>
        <br>
        Примечания диспетчера:<input  title="nd"   [(ngModel)]="AdminNote"  class="input-long-1" type="text" ><label >{{AdminNote}}</label>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Выщелачивательный цех.">
    <mat-card class="mat-card-main">
      <mat-card-content class="card">
        В работе <input class="input-small" type="text"> нейтральных <input class="input-small" type="text"> и <input class="input-small" type="text"> кислых сгустителя. 
        <br>
        Реактора № <input class="input-small" type="text">с CuCl пульпой (<input class="input-small" type="text"> м<sup>3</sup>). Пример HP из ГМЦ <input class="input-midle" type="text">. На
        классификации в работе <input class="input-midle" type="text"> нитка (песков <input class="input-midle" type="text"> см, с классификатора <input class="input-midle" type="text"> т., пенообразование <input class="input-midle" type="text">).
        Распылительная: <input class="input-midle" type="text">. НЧ:<input class="input-midle" type="text">.
        <br>
        <em>"CuCl"</em>: установка №1 <input class="input-midle" type="text">, №2 <input class="input-midle" type="text">, операции <input class="input-midle" type="text">+<input class="input-midle" type="text"> на р-рах ГМЦ (б/м <input class="input-midle" type="text">).
        <br>
        <em>"Флотация"</em>: в работе: поток <input class="input-midle" type="text"> м<sup>3</sup>/ч, НСС-<input class="input-midle" type="text"> в <input class="input-midle" type="text">.
        <br>
        <em>ОВВ</em>: провели циклов <input class="input-midle" type="text">+<input class="input-midle" type="text">; ВВ приняли <input class="input-midle" type="text">т.
        <br>
        <em>"Карбонизация"</em>: ф/п №<input class="input-midle" type="text"> в работе. Циклов <input class="input-midle" type="text">+<input class="input-midle" type="text">&rArr;<input class="input-midle" type="text"> т. (~<input class="input-midle" type="text">/<input class="input-midle" type="text"> т/ц).
        <br>
        <em>Дозировка Fe окалины</em>:<input class="input-midle" type="text">. <em>Ввод воды</em>:<input class="input-midle" type="text">.
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Вельц-цех.">
    <mat-card class="mat-card-main">
      <mat-card-content class="card">
        <b>Переработано /в т.ч. кек/в т.ч. ВЦС(вмт):<input class="input-midle" type="text">/<input class="input-midle" type="text">/<input class="input-midle" type="text">.</b>
        <br>
        В/п №3(max произв. 60 вмт): Переработано:<input class="input-midle" type="text"> т.(~<input class="input-midle" type="text">т/ч/<input class="input-midle" type="text">/)
        <br>
        В/п №4(max произв. 67 вмт): Переработано:<input class="input-midle" type="text"> т.(~<input class="input-midle" type="text">т/ч/<input class="input-midle" type="text">/)
        <br>
        В/п 3/4:<input class="input-midle" type="text"> т кек, <input class="input-midle" type="text"> т промпродукты, <input class="input-midle" type="text"> тК/окись, <input class="input-midle" type="text"> т изгарь, <input class="input-midle" type="text"> т долмит + 16% нефтекокс (окиси <input class="input-midle" type="text"> т).
        <b><em>РФГ</em></b>: текущую в/о <input class="input-midle" type="text">, в/о сКВП №5,6 <input class="input-midle" type="text">. <b><em>ПСО</em></b>:"В"~<input class="input-midle" type="text"> м;"З"~<input class="input-midle" type="text"> м. Подали <input class="input-midle" type="text"> МКР
        с текущими подкулерными возгонами в ВыщЦ(остаток <input class="input-midle" type="text"> МКР).
        <br>
        <b><em>Прокалка №1</em></b>(max произв. 81 вмт): переработано:<input class="input-midle" type="text">т.(~<input class="input-midle" type="text">т/ч,<input class="input-midle" type="text">), в ГМЦ откачали <input class="input-midle" type="text"> т.
        <br>
        <b><em>Прокалка №2</em></b>(max произв. 81 вмт): переработано:<input class="input-midle" type="text">т.(~<input class="input-midle" type="text">т/ч,<input class="input-midle" type="text">), в ГМЦ откачали <input class="input-midle" type="text"> т.
        <br>
        Переработали окиси Проминдустрия/ПСЦМ/<input class="input-midle" type="text">:<input class="input-midle" type="text">/<input class="input-midle" type="text">/<input class="input-midle" type="text"> т.; с н.м.<input class="input-midle" type="text">/<input class="input-midle" type="text">/<input class="input-midle" type="text">т.
        <br>
        <b>УПРиГР</b>: прошихтовали <input class="input-midle" type="text"> т. (<input class="input-midle" type="text"> цикла), по заданию. 
        <br>
        <em><b>"Larox"</b></em>: в работе <input class="input-midle" type="text"> п/ф, циклов <input class="input-midle" type="text">(<input class="input-midle" type="text">+<input class="input-midle" type="text">)&rArr;<input class="input-midle" type="text">т. (план - не менее 4,0 т/ц /факт ~<input class="input-midle" type="text">т/ц).
        <br>
        Простой:<input  class="input-long-1" type="text" >
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
        <br>
        <b><em>КВП-5/6:</em></b> (УР <input class="input-midle" type="text">, БГ <input class="input-midle" type="text">): прошихтовали: <input class="input-midle" type="text"> т. кека, в т.ч. <input class="input-midle" type="text"> т. из запаса; <input class="input-midle" type="text"> т. К/окиси
        (<input class="input-midle" type="text">/<input class="input-midle" type="text">),<input class="input-midle" type="text"> т. Святогор (<input class="input-midle" type="text">/<input class="input-midle" type="text">), <input class="input-midle" type="text"> т. изгарь (<input class="input-midle" type="text">/<input class="input-midle" type="text">), <input class="input-midle" type="text"> т. <input class="input-midle" type="text">(<input class="input-midle" type="text">/<input class="input-midle" type="text">), <input class="input-midle" type="text">т. доломит (<input class="input-midle" type="text">/<input class="input-midle" type="text">).
        <br>
        <b><em>КВП-5:</em></b> (план <input class="input-midle" type="text">): переработано <input class="input-midle" type="text"> т. (~<input class="input-midle" type="text"> т/ч по шихте, <input class="input-midle" type="text">). Получено окиси <input class="input-midle" type="text">т.
        Примечания:<input  class="input-long-1" type="text" >
        <br>
        <b><em>КВП-6:</em></b> (план <input class="input-midle" type="text">): переработано <input class="input-midle" type="text"> т. (~<input class="input-midle" type="text"> т/ч по шихте, /<input class="input-midle" type="text">/, материал<input class="input-midle" type="text">). Получено окиси <input class="input-midle" type="text"> т. Примечания:<input class="input-midle" type="text">.
        Оборот с бункеров <input class="input-midle" type="text">&divide;<input class="input-midle" type="text"> на Eirich(окатали <input class="input-midle" type="text"> т.). КВП-6(Eirich): циклов <input class="input-midle" type="text">(<input class="input-midle" type="text">+<input class="input-midle" type="text">)&rArr;<input class="input-midle" type="text">т. (в 
        т.ч. Zn-содержащего сырья <input class="input-midle" type="text"> т. W=<input class="input-midle" type="text">%). Окатали <input class="input-midle" type="text">%-переработка шихты из СШ.
        Клинкера к отгрузке (смт): в/ц~<input class="input-midle" type="text"> п/в (~<input class="input-midle" type="text">); КВП-5/6:~<input class="input-midle" type="text"> п/в(~<input class="input-midle" type="text">).
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="ГМЦ.">
    <mat-card class="mat-card-main">
      <mat-card-content class="card">
        <b>Загрузили:<input class="input-midle" type="text"> м<sup>3</sup>; откачали: <input class="input-midle" type="text"> м<sup>3</sup></b>.(<input class="input-midle" type="text">).
        <br>
        Принято непрок. в/о <input class="input-midle" type="text"> т.<b><em>СПО:</em></b> прогнали <input class="input-midle" type="text"> т., остаток <input class="input-midle" type="text"> т.; песков <input class="input-midle" type="text"> т.
        <br>
        Установки <input class="input-midle" type="text">(б/м<input class="input-midle" type="text">). PbAg дросс, кг:<input class="input-midle" type="text">; с н.м. <input class="input-midle" type="text">.
        <br>
        В работе КС-<input class="input-midle" type="text">(<input class="input-midle" type="text">) и <input class="input-midle" type="text"> Mn мельницы (<input class="input-midle" type="text">). <b><em>РМО:</em></b> поток <input class="input-midle" type="text">м<sup>3</sup>/ч. H<sub>2</sub>SO<sub>4</sub>~<input class="input-midle" type="text">т.
        <br>
        <b><em>"Larox"</em></b> (<input class="input-midle" type="text">): циклов <input class="input-midle" type="text">&rArr;<input class="input-midle" type="text">т.(~<input class="input-midle" type="text">т/ц).<b><em>"FB-1200"</em></b>(<input class="input-midle" type="text">): циклов <input class="input-midle" type="text"> &rArr; <input class="input-midle" type="text">т. (~<input class="input-midle" type="text">т/ц).
        <br>
        <b><em>"MC-100" №1</em></b>  циклов <input class="input-midle" type="text">&rArr;<input class="input-midle" type="text">т.(~<input class="input-midle" type="text">т/ц).<b><em>"MC-100"</em></b> №2 циклов <input class="input-midle" type="text"> &rArr; <input class="input-midle" type="text"> т.(~<input class="input-midle" type="text">т/ц).
        <br>
        <b><em>"Diefenbach": №14.1</em></b>  (<input class="input-midle" type="text">):<input class="input-midle" type="text">&rArr<input class="input-midle" type="text">т. (~<input class="input-midle" type="text">т/ц); <b>№14.2</b>(<input class="input-midle" type="text">):<input class="input-midle" type="text">&rArr;<input class="input-midle" type="text">т.(~<input class="input-midle" type="text"> т/ц).
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="СКЦ.">
    <mat-card class="mat-card-main">
      <mat-card-content class="card">
        <b>Получено кислоты:<input class="input-midle" type="text">т.</b>
        <br>
        Газовая нагрузка <input class="input-midle" type="text">(<input class="input-midle" type="text">-<input class="input-midle" type="text">-<input class="input-midle" type="text">) <b>тыс. м<sup>3</sup>/ч</b>. Газ:<input class="input-midle" type="text">-<input class="input-midle" type="text">-<input class="input-midle" type="text">%. К/а работают в режимах.
        <br>
        Свободный объем <input class="input-midle" type="text"> т.(под II сорт <input class="input-midle" type="text">).
        <br>
        Примечания мастера:<input  class="input-long-1" type="text" >
        <br>
        Примечания диспетчера:<input  class="input-long-1" type="text" >
        <br>
        УОС в норме.
        <br>
        ЭНЦ: ВКУ: в работе <input class="input-midle" type="text"> аппаратов(конд.~<input class="input-midle" type="text"> м<sup>3</sup>/ч); Котельная: в работе котел №<input class="input-midle" type="text">(<input class="input-midle" type="text"> м<sup>3</sup>/ч).
        <br>
        КС: в работе блоки №<input class="input-midle" type="text">(<input class="input-midle" type="text">/<input class="input-midle" type="text">/<input class="input-midle" type="text">%:<input class="input-midle" type="text">/<input class="input-midle" type="text">/<input class="input-midle" type="text"> нм<sup>3</sup>/ч),<input class="input-midle" type="text">.
        <br>
        Объем растворов по заводу:<input class="input-midle" type="text"> м<sup>3</sup>(<input class="input-midle" type="text">).
        <br>
        НМУ-1 <input  class="input-long-1" type="text" >
        <br>
        <p id="pasAc">Смену сдал:<input class="input-midle" type="text"> Смену принял:<input class="input-midle" type="text"></p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
